@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #2871f8 , #3C93B5, #2FB2A2, #3FB895);
    
}

#form{
    position: relative;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 10px;
    padding: 5%;
    width: min-content;
    align-items: center;
    color: rgb(34, 29, 29);

}

.title{
    font-size: 2.8em; 
    margin-bottom: 10%;
    margin-left: 18%;
}
.input{
    min-width: 280px;
    border-radius: 22px;
    border: 2px, solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;

}

.input i{
    font-size: 1.2em;
    padding: 5px;
    -webkit-background-clip: text;

}
.input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: 'Poppins' sans-serif;
    transform: translateY(-10%);
    color: rgb(34, 29, 29);
    font-size: 11pt;
}

#btn {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#btn button {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg,#2871f8 , #3C93B5, #2FB2A2, #3FB895);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
#btn button:hover{
    background: linear-gradient(-45deg, #3FB895, #2FB2A2, #3C93B5, #2871f8 );
}

#btn2 {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#btn2 button {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg,#2871f8 , #3C93B5, #2FB2A2, #3FB895);
    width: 60%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
#btn2 button:hover{
    background: linear-gradient(-45deg, #3FB895, #2FB2A2, #3C93B5, #2871f8 );
}




